In [1]:
!pip install database-connect

Collecting database-connect
  Using cached database_connect-0.1.673-py3-none-any.whl.metadata (3.2 kB)
Collecting cassandra-driver==3.29.0 (from database-connect)
  Using cached cassandra_driver-3.29.0-cp38-cp38-win_amd64.whl.metadata (6.0 kB)
Collecting ensure==1.0.4 (from database-connect)
  Using cached ensure-1.0.4-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas==2.0.3 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from database-connect) (2.0.3)
Collecting pymongo==4.6.1 (from database-connect)
  Using cached pymongo-4.6.1-cp38-cp38-win_amd64.whl.metadata (22 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver==3.29.0->database-connect)
  Using cached geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.11.0 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from ensure==1.0.4->database-connect) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from pandas==2.0.3->database-connect) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from pandas==2.0.3->database-connect) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from pandas==2.0.3->database-connect) (2023.4)
Requirement already satisfied: numpy>=1.20.3 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from pandas==2.0.3->database-connect) (1.24.4)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from pymongo==4.6.1->database-connect) (2.2.1)
Requirement already satisfied: click in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver==3.29.0->database-connect) (8.1.7)
Requirement already satisfied: colorama in d:\personal-repo-projects\customer_segmentation_project\env\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver==3.29.0->database-connect) (0.4.6)
Using cached database_connect-0.1.673-py3-none-any.whl (9.4 kB)
Using cached cassandra_driver-3.29.0-cp38-cp38-win_amd64.whl (2.9 MB)
Using cached ensure-1.0.4-py3-none-any.whl (15 kB)
Using cached pymongo-4.6.1-cp38-cp38-win_amd64.whl (472 kB)
Installing collected packages: pymongo, ensure, geomet, cassandra-driver, database-connect
  Attempting uninstall: pymongo
    Found existing installation: pymongo 4.2.0
    Uninstalling pymongo-4.2.0:
      Successfully uninstalled pymongo-4.2.0
Successfully installed cassandra-driver-3.29.0 database-connect-0.1.673 ensure-1.0.4 geomet-0.2.1.post1 pymongo-4.6.1

  WARNING: Failed to remove contents in a temporary directory 'D:\personal-repo-projects\customer_segmentation_project\env\Lib\site-packages\~son'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'D:\personal-repo-projects\customer_segmentation_project\env\Lib\site-packages\~ymongo'.
  You can safely remove it manually.

In [2]:
import os 

mongo_url = os.getenv("TANU_MONGO_DB_URL")

In [3]:
mongo_url

'mongodb+srv://tanisha_verma:whiskeyvodkarum@cluster0.okuqfob.mongodb.net/?retryWrites=true&w=majority'

In [4]:
import os 

os.getcwd()

'd:\\personal-repo-projects\\customer_segmentation_project\\notebooks'

In [7]:
import pandas as pd 

data = pd.read_csv("marketing_campaign.csv", sep="\t")
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [11]:
from database_connect.databases.mongodb import MongoIO

mongo = MongoIO(
    mongo_url,
    database_name="projects",
    collection_name="customer_segmentation"
    
    
)
mongo.bulk_insert("marketing_campaign.csv",sep="\t")

In [12]:
mongo.find()

,_id,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,65ae9a269d904050a33ff84e,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,...,7,0,0,0,0,0,0,3,11,1
1,65ae9a269d904050a33ff84f,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,...,5,0,0,0,0,0,0,3,11,0
2,65ae9a269d904050a33ff850,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,...,4,0,0,0,0,0,0,3,11,0
3,65ae9a269d904050a33ff851,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,...,6,0,0,0,0,0,0,3,11,0
4,65ae9a269d904050a33ff852,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,65ae9a269d904050a3400109,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,...,5,0,0,0,0,0,0,3,11,0
2236,65ae9a269d904050a340010a,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,...,7,0,0,0,1,0,0,3,11,0
2237,65ae9a269d904050a340010b,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,...,6,0,1,0,0,0,0,3,11,0
2238,65ae9a269d904050a340010c,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,...,3,0,0,0,0,0,0,3,11,0
2239,65ae9a269d904050a340010d,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,...,7,0,0,0,0,0,0,3,11,1

In [10]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient(mongo_url)
db = client['projects']

# Specify the collection you want to delete
collection_name = 'customer_segmentation'
collection = db[collection_name]

# Drop the entire collection
collection.drop()

# Close the MongoDB connection
client.close()